In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("example_timestamp.csv")

In [4]:
df

   displayed_name discord_id  has_joined channel_name   timestamp
0           David       xxxx        True         Test  1756204592
1             Léa       xxxy        True         Test  1756204602
2        François       xxyy        True         Test  1756204612
3          Carole       xyyy        True        Impro  1756204622
4          Carole       xyyy       False        Impro  1756205592
5          Audrey       xxyx        True       Campus  1756206592
6       Angélique       xyxy        True       Campus  1756206593
7         Pauline       xyyx        True       Campus  1756206594
8        François       xxyy       False         Test  1756207597
9             Léa       xxxy       False         Test  1756207598
10          David       xxxx       False         Test  1756207598
11        Pauline       xyyx       False       Campus  1756207600
12      Angélique       xyxy       False       Campus  1756207610
13         Audrey       xxyx       False       Campus  1756207612

In [5]:
def generate_stats(start, end):
  """
  Retourne un dictionnaire, une série ou un dataframe qui associe à chaque utilisateur le temps (en seconde) qu'il a passé au total dans un canal vocal entre le timestamp 'start' et le timestamp 'end'
  Attention, un utilisateur peut être déjà dans un salon vocal au timestamp 'start' et peut ne pas l'avoir quitté au timestamp 'end'
  """
  ...

def generate_graph(dataframe_or_serie_or_dict):
  """
  Si vous êtes vraiment chaud vous pouvez générer un graph avec Pandas ou MathPlotLib, choisissez seulement un type des trois types d'entrée et générez le graph que vous pensez le plus pertinent pour ces données :)
  """
  ...

if __name__ == "__main__":
  # Vous pouvez tester avec 1756204590, 1756204601, 1756204602, 1756204603 comme début et 1756207599, 1756207609, 1756207615, 1756207612 comme fin
  ...

In [6]:
def generate_stats(start, end):
  return end - start

In [7]:
generate_stats(1756204622, 1756205592)

970

In [8]:
def generate(name):
    end = int(df['timestamp'][df['displayed_name'] == name].max())
    start = int(df['timestamp'][df['displayed_name'] == name].min())
    d = {}
    final = end - start
    d[name] = final
    return d

In [9]:
generate('David')

{'David': 3006}

In [10]:
generate('Audrey')

{'Audrey': 1020}